# EDA(Exploratory Data Analysis)

EDA on Salary of Data Scientist

In [ ]:
# Importing libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
# Import Data set

data = pd.read_csv("Data Science Jobs Salaries.csv")

In [ ]:
# Read first 10 records

data.head(10)

In [ ]:
# Last 10 records

data.head(10)

In [ ]:
# Data size

data.shape

In [ ]:
# How the Data looks like

data.info()

In [ ]:
# Checking any missing values

data.isnull().sum()

In [ ]:
# Describe the Dataset

data.describe()

In [ ]:
# Columns

data.columns

In [ ]:
table = pd.pivot_table(data, values='salary_in_usd', 
                   columns=['experience_level'],
                   index= ['job_title'],
                   aggfunc= np.median
                  )
data_jt = pd.DataFrame(table)
data_jt

# 1. Mean salary by each level of experience

In [ ]:
plt.style.use("seaborn-whitegrid")
arr = np.array(data.groupby('experience_level').salary.median())

exp_lev = np.array(['EN','EX','MI','SE'])

fig, ax = plt.subplots()

ax.bar(exp_lev,arr)
ax.set_title("Mean salary by each experience level",fontdict={'size':16,'color':'red'})
ax.set_xlabel("Experience level",fontdict={'size':13,'color':'red'})
ax.set_ylabel("Salary",fontdict={'size':13,'color':'red'})
ax.grid()

fig.set_size_inches(8,8)
plt.show()

In [ ]:
# Insights:

'''In above plot we can know what is the avearge salary is being paid to by expereince level of employees.

We can see that EX (Executives) are having highest mean salary'''

# 2. Distribution curve of salary in USD

In [ ]:
g = sns.displot(data=data, x='salary_in_usd', kind='kde', legend=True)
plt.title('Distribution of salary in USD')
g.fig.set_figwidth(10)
g.fig.set_figheight(6)

# 3. Histogram of salary in USD

In [ ]:
g = sns.displot(x=data['salary_in_usd'], data=data, kde=True)
plt.title('Distribution of salary in USD')
g.fig.set_figwidth(10)
g.fig.set_figheight(6)

In [ ]:
# Insights:

'''Above distritbution plots show us how salaries in USD is dstributed from lowest to highest salaries.

As you can see there is only a salary which as high as 600k while most of them is around 80-90k.'''

# 4. Experience level VS. Remote ratio

In [ ]:
g = sns.catplot(x='experience_level', y='remote_ratio', data=data)
g.fig.set_figwidth(10)
g.fig.set_figheight(6)

# 5. Salary in USD for each type of employment

In [ ]:
g = sns.catplot(x='employment_type', y='salary_in_usd', data=data)
g.fig.set_figwidth(10)
g.fig.set_figheight(6)

In [ ]:
# Insights:

# What is the distribution of salaries by each emplyment type?? this plot shows exactly the same

# 6. Salary in USD for each level of experience

In [ ]:
g = sns.catplot(x='experience_level', y='salary_in_usd', data=data)
g.fig.set_figwidth(10)
g.fig.set_figheight(6)

In [ ]:
# Insights:

# What is the distribution of salaries by each expereince level?? this plot shows exactly the same

In [ ]:
#total number of unique employees residence

data['employee_residence'].nunique()

# 7. Top 5 Employee residence with highest salary paid

In [ ]:
res = data.groupby('employee_residence').salary_in_usd.mean().sort_values(ascending=False)
res = res.head()
plt.figure(figsize=(10,5.5))
sns.barplot(x=res.index, y=res.values)
plt.title('highest salary by employee residence')
plt.ylabel('salary in USD')
plt.show()

# 8. Last 5 employee residence with least salary paid

In [ ]:
res1 = data.groupby('employee_residence').salary_in_usd.mean().sort_values(ascending=True)
res1 = res1.head()

plt.figure(figsize=(10,10))
sns.barplot(x=res1.index, y=res1.values)
plt.title('lowest salary by employee residence')
plt.ylabel('salary in USD')
plt.show()

# 9. Salary paid by company size

In [ ]:
plt.figure(figsize=(10,6))
sns.stripplot(x=data['company_size'], y=data['salary_in_usd'], data=data).set_title('Salary by company size')

In [ ]:
# Insights:

'''What is the distribution of salaries by company size?? this plot shows exactly the same

We can learn that large comapnies are paying higher than medium and smaller ones'''

# 10. Salary paid at each remote ratio

In [ ]:
plt.figure(figsize=(10,6))
sns.stripplot(x=data['remote_ratio'], y=data['salary_in_usd'], data=data).set_title('Salary by remote ratio')

In [ ]:
# Insights:

'''What is the distribution of salaries by remote ration? this plot shows exactly the same

We can learn that there more employees working 100% remote than full office or partial WFH.'''

# 11. Relative share of employees by remote work

In [ ]:
remo = np.array(data['remote_ratio'].value_counts(sort=True))

labels = ['Full remote', 'Partial remote', 'No remote']

plt.figure(figsize=(6,6))
plt.pie(remo, labels=labels, shadow=True, frame=True)
plt.legend()
plt.title('employees by remote ratio')
plt.show()

In [ ]:
# Insights:

# We can learn that more than 50% of the employees are working remote

# 12. Relative share of employees by company size

In [ ]:
coms = data['company_size'].value_counts(sort=False)
print(coms)
Labels = [x for x in data['company_size'].unique()]
print('the company size labels are: ', Labels)
plt.figure(figsize=(6,6))
plt.pie(coms.values, labels=Labels, shadow=True, frame=True)
plt.legend()
plt.title('employees by company size')
plt.show()

# 13. Pivot table of maximum salary by company size and remote ratio

In [ ]:
t2 = pd.pivot_table(data,
                   values='salary_in_usd',
                   index='remote_ratio',
                   columns='company_size',
                   aggfunc= np.max
                   )
pd.DataFrame(t2)

In [ ]:
'''Here we can see that at large and small comany 100% remote workers are 
getting paid higher than workers with 0% remote ration. 
it is possible because senior managers are wokring remote than juniors.'''

# 14. Numebr of employees by year of joining

In [ ]:
plt.figure(figsize=(7,7))
sns.countplot(x=data['work_year'], data=data)
plt.title('Number of employees by year of joining')
plt.show()

In [ ]:
# Insights:

# Almost 185 employees are estimated to join in 2021

# 15. Number of employees by Exp. level, Employment type, Company size and Remote ratio

In [ ]:
columns = ['experience_level','employment_type','company_size']

ex =data['experience_level'].value_counts()

em =data['employment_type'].value_counts()

co =data['company_size'].value_counts()

re =data['remote_ratio'].map({100:'Full remote',
                           50:'Partial remote',
                           0:'No remote'}).value_counts()
# PLOT A FIGURE UISNG MATPLOTILB SUBPLOTS OBJECT

fig, axs = plt.subplots(2,2, figsize=(10,10))

axs[0,0].bar(ex.index,ex.values)
axs[0,0].set_xlabel('Experience level')
axs[0,0].set_ylabel('Number of employees')


axs[0,1].bar(em.index,em.values)
axs[0,1].set_xlabel('Employment type')
axs[0,1].set_ylabel('Number of employees')


axs[1,0].bar(co.index,co.values)
axs[1,0].set_xlabel('company size')
axs[1,0].set_ylabel('Number of employees')


axs[1,1].bar(re.index,re.values)
axs[1,1].set_xlabel('Remote ratio')
axs[1,1].set_ylabel('Number of employees')

plt.suptitle('Number of employees by Exp. level, Employment type, Company size and Remote ratio')
fig.tight_layout()
plt.show()

 Insights:

    1. If you see by expereince level medium experienced employees are most hired in data science industry.

    2. Majority of jobs are full time in data science industry.

    3. Large companies hire more data scientists than medium and smaller ones.

    4. As we have seen, majority of emplyees are wokring remotly.

# 16. Which country has employed more employees in data science domain??

In [ ]:
data['company_location'].value_counts().reset_index().set_index('index')

 It is intereting to notice that 245 employees 108 employees are supposed to or employed by US companies

# 17. Top 5 countires by which employees are employed

In [ ]:
cl = data['company_location'].value_counts().reset_index().set_index('index').head()

plt.figure(figsize=(6,6))
plt.bar(np.array(cl.index), np.array(cl.values).reshape(-1))
plt.ylabel('Nummber of employees at each countries')
plt.xlabel('Company location')
plt.title('Top 5 countires by which employees are employed')
plt.show

USA is top country which has most number of jobs follwed by Germany(DE) and India(IN)

In [ ]:
data['company_location'].nunique()

# 19. Distribution of employees by experience level and company size

In [ ]:
def swarm_plot(x, y, hue, data=data):
    plt.figure(figsize=(6,6))
    sns.swarmplot(x=x, y=y, hue=hue,data=data)
    plt.show
    
plt.figure(figsize=(8,8))
sns.swarmplot(x=data['experience_level'],
              y=data['salary_in_usd'],
              hue=data['company_size'],
              data=data)
plt.title("Distribution of employees by experience level and company size")
plt.show